# Wallet
Wallet Management App

# Pytorch
**/data/
**/datasets/
**/dataset/

# test
test*
**/test_images

# model weights
*.pth
*.pt
*.ckpt
*.onnx

# python junk
__pycache__/
*.pyc
.ipynb_checkpoints/

# environment
*env

# face regognition images
**/faces

